*{
    display: flex;
    background-color: green;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: url("https://i.gadgets360cdn.com/large/whatsapp_multi_device_support_update_image_1636207150180.jpg") center center;
    font-weight: 300;
    
}